@charset "utf-8";
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(font/NotoSansKR-Thin.woff2) format('woff2'),
       url(font/NotoSansKR-Thin.woff) format('woff'),
       url(font/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 200;
  src: url(font/NotoSansKR-Light.woff2) format('woff2'),
       url(font/NotoSansKR-Light.woff) format('woff'),
       url(font/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 300;
     src: url(font/NotoSansKR-DemiLight.woff2) format('woff2'),
          url(font/NotoSansKR-DemiLight.woff) format('woff'),
          url(font/NotoSansKR-DemiLight.otf) format('opentype');
   }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(font/NotoSansKR-Regular.woff2) format('woff2'),
        url(font/NotoSansKR-Regular.woff) format('woff'),
        url(font/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(font/NotoSansKR-Medium.woff2) format('woff2'),
        url(font/NotoSansKR-Medium.woff) format('woff'),
        url(font/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(font/NotoSansKR-Bold.woff2) format('woff2'),
        url(font/NotoSansKR-Bold.woff) format('woff'),
        url(font/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(font/NotoSansKR-Black.woff2) format('woff2'),
        url(font/NotoSansKR-Black.woff) format('woff'),
        url(font/NotoSansKR-Black.otf) format('opentype');
 }
 @font-face {
     font-family: 'DIN1451EF-MittelAlt';
     font-style: normal;
     font-weight: 400;
     src: url(font/DIN1451EF-MittelAlt.woff2) format('woff2'),
          url(font/DIN1451EF-MittelAlt.woff) format('woff'),
          url(font/DIN1451EF-MittelAlt.otf) format('opentype');
   }


/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; font-size:100%;line-height:1.5;box-sizing:border-box;}
ol, ul, li { list-style:none}
h1, h2, h3, h4, h5, h6 { font-weight:normal}
address, caption, em { font-weight:normal; font-style:normal}
fieldset, img,button,input[type=submit],input[type=image] { border:0}
img { line-height:100%; font-size:100%; vertical-align:top}
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal}
blockquote, q {quotes:none}

ins {text-decoration:none}
del {text-decoration:line-through}
/*a,img,input{outline: none; selector-dummy:expression(this.hideFocus=true)}*/

/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%;  vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {width:100%; border-collapse: collapse; border-spacing: 0; table-layout:fixed;}

/* base */
html, body{height:100%;}
body{ font-size:14px; font-family:'Noto Sans KR', Dotum, "돋움",Gulim, "굴림", Verdana, Tahoma, AppleGothic, sans-serif; color:#191919; letter-spacing:0px; line-height:100%; text-align:left}
table{/*font-size:11px;*/ border-collapse:collapse;}
input,textarea,select{ color:#191919; border:1px solid #dddddd; font-family:'Noto Sans KR', "돋움",Gulim, "굴림", Verdana, Tahoma, AppleGothic, sans-serif; }
pre {font-family:'Noto Sans KR', Dotum, "돋움",Gulim, "굴림", Verdana, Tahoma, AppleGothic, sans-serif; color:#666; white-space: pre-wrap; line-height:26px;}

/* skip */
legend, hr, .skip {position:absolute; left:-9999px; width:0; height:0; font-size:0; line-height:0; overflow:hidden;}
.hide {display:block; height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0; overflow:hidden;}
caption  {height: 0; width: 0; font-size: 0; line-height: 0; margin: 0; padding: 0;}

/*caption{display:none;}*/

/* anchor */
a { color:#666; text-decoration:none; font-family:'Noto Sans KR', Dotum, "돋움",Gulim, "굴림", Verdana, Tahoma, AppleGothic, sans-serif;}
a:link, 
a:visited { text-decoration:none}
a:hover, 
a:active, 
a:focus { text-decoration:none;}
button{padding:0;cursor:pointer;background:transparent;}

/* #skipNavi */

#skipNavi{position:absolute; left:0; top:-1000px; width:100%; height:0px; z-index:1000; line-height:0px; font-size:0px;}
#skipNavi a{display:block; text-align:center; width:100%; line-height:0px; font-size:0px;}
#skipNavi a:focus, #skipNavi a:hover, #skipNavi a:active {position:absolute; left:0px; top:1000px; padding:8px 0;  display:block; height:20px; background:#20262c; font-size:12px; font-weight:bold; line-height:18px; color:#fff;}


/* input */
textarea{padding:10px;box-sizing:border-box;}
input[type="text"], input[type="password"], input[type="number"] {height:38px; width:155px; padding:0 10px; border:1px solid #dddddd; box-sizing: border-box; border-radius:0x; font-size:14px; color:#999999; font-weight:200; vertical-align:middle;}
input[type="text"]:disabled, input[type="password"]:disabled, textarea:disabled {background:#eaeaea; color:#c0c0c0;}
input[type="text"]:read-only, textarea:read-only {background:#eaeaea; border-color:#eaeaea; color:#c0c0c0;}
input[type="text"].readonly, textarea.readonly {background:#eaeaea !important; border-color:#eaeaea !important; color:#c0c0c0 !important;}

.radio_set{position:relative;display:inline-block;line-height:38px;vertical-align:middle;cursor:pointer;}
.radio_set + .radio_set{margin-left:80px;}
.radio_set input[type="radio"]{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.radio_set input[type="radio"] + .cont{position:relative;display:inline-block;width:28px;height:28px;border:1px solid #dedede;border-radius:50%;background:#f3f4f7;vertical-align:middle;}
.radio_set input[type="radio"] + .cont:before{position:absolute;display:block;content:'';left:50%;top:50%;width:14px;height:14px;border-radius:50%;background:#ffffff;-ms-transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.radio_set input[type="radio"]:checked + .cont{border-color:#48a4fd;background:#ffffff;}
.radio_set input[type="radio"]:checked + .cont:before{background:#48a4fd;}
.radio_set .txt{display:inline-block;margin-left:7px;font-size:16px;color:#191919;font-weight:200;vertical-align:middle;}

.checkbox_set{position:relative;display:inline-block;line-height:38px;vertical-align:middle;cursor:pointer;}
.checkbox_set + .radio_set{margin-left:80px;}
.checkbox_set input[type="checkbox"]{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.checkbox_set input[type="checkbox"] + .cont{position:relative;display:inline-block;width:22px;height:22px;border:1px solid #666666;background:#ffffff;vertical-align:middle;}
.checkbox_set input[type="checkbox"]:checked + .cont{border-color:#5298df;background:#5298df;}
.checkbox_set input[type="checkbox"]:checked + .cont:before{position:absolute;display:block;content:'';left:2px;top:50%;width:16px;height:14px;background:url(/images/ico_checked.png) center center no-repeat;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.checkbox_set .txt{display:inline-block;margin-left:15px;font-size:18px;color:#666666;vertical-align:middle;}
.checkbox_set input[type="checkbox"]:checked + .cont + .txt{color:#191919;font-weight:700;}

.checkbox_set2{position:relative;display:inline-block;line-height:38px;vertical-align:middle;cursor:pointer;}
.checkbox_set2 input[type="checkbox"]{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.checkbox_set2 input[type="checkbox"] + .cont{position:relative;display:inline-block;width:20px;height:20px;border:2px solid #ffffff;border-radius:50%;background:transparent;vertical-align:middle;}
.checkbox_set2 input[type="checkbox"]:checked + .cont{border-color:#395aa1;background:#395aa1;}
.checkbox_set2 input[type="checkbox"]:checked + .cont:before{position:absolute;display:block;content:'';left:2px;top:50%;width:12px;height:8px;background:url(/images/ico_checked2.png) center center no-repeat;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.checkbox_set2 .txt{display:inline-block;margin-left:8px;font-size:16px;color:#ffffff;vertical-align:middle;}

.checkbox_set3{position:relative;display:block;line-height:38px;cursor:pointer;}
.checkbox_set3 input[type="checkbox"]{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.checkbox_set3 input[type="checkbox"] + .cont{position:relative;display:inline-block;width:20px;height:20px;border:2px solid #e5e5e5;border-radius:50%;background:transparent;vertical-align:middle;}
.checkbox_set3 input[type="checkbox"]:checked + .cont{border-color:#395aa1;background:#395aa1;}
.checkbox_set3 input[type="checkbox"]:checked + .cont:before{position:absolute;display:block;content:'';left:2px;top:50%;width:12px;height:8px;background:url(/images/ico_checked3.png) center center no-repeat;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.checkbox_set3 .txt{display:inline-block;margin-left:8px;font-size:16px;color:#191919;vertical-align:middle;}
.agree_all .checkbox_set3 .txt{font-weight:700;}


input[type="text"]:focus, input[type="password"]:focus {outline: none;}
input[type="text"]:focus, input[type="text"]:hover, input[type="password"]:focus, input[type="password"]:hover {border:1px solid #1e90ff;}
textarea:focus, textarea:hover {border:1px solid #1e90ff;}

/* select */
select {position:relative; height:38px; width:155px; padding:0 0 0 10px; border:1px solid #dddddd; box-sizing: border-box; border-radius:0px; font-size:14px; color:#191919; font-weight:200; vertical-align:middle; background:#fff;}
select:disabled {background: #eaeaea;}
select:focus, select:hover {border:1px solid #1e90ff;} 

::-webkit-input-placeholder { /* Chrome/Opera/Safari */color:#b9babf;}
::-moz-placeholder { /* Firefox 19+ */ color: #b9babf;}
:-ms-input-placeholder { /* IE 10+ */ color: #b9babf;}
:-moz-placeholder { /* Firefox 18- */ color: #b9babf;}


/* width */
.w1p {display:inline-block; width:1% !important; vertical-align:middle;}
.w2p {display:inline-block; width:2% !important; vertical-align:middle;}
.w3p {display:inline-block; width:3% !important; vertical-align:middle;}
.w4p {display:inline-block; width:4% !important; vertical-align:middle;}
.w6p {display:inline-block; width:6% !important; vertical-align:middle;}
.w8p {display:inline-block; width:8% !important; vertical-align:middle;}
.w10p {display:inline-block; width:10% !important; vertical-align:middle;}
.w18p {display:inline-block; width:18% !important; vertical-align:middle;}
.w20p {display:inline-block; width:20% !important; vertical-align:middle;}
.w28p {display:inline-block; width:28% !important; vertical-align:middle;}
.w30p {display:inline-block; width:30% !important; vertical-align:middle;}
.w32p {display:inline-block; width:32% !important; vertical-align:middle;}
.w38p {display:inline-block; width:38% !important; vertical-align:middle;}
.w40p {display:inline-block; width:40% !important; vertical-align:middle;}
.w48p {display:inline-block; width:48% !important; vertical-align:middle;}
.w50p {display:inline-block; width:50% !important; vertical-align:middle;}
.w58p {display:inline-block; width:58% !important; vertical-align:middle;}
.w60p {display:inline-block; width:60% !important; vertical-align:middle;}
.w68p {display:inline-block; width:68% !important; vertical-align:middle;}
.w70p {display:inline-block; width:70% !important; vertical-align:middle;}
.w78p {display:inline-block; width:78% !important; vertical-align:middle;}
.w80p {display:inline-block; width:80% !important; vertical-align:middle;}
.w88p {display:inline-block; width:88% !important; vertical-align:middle;}
.w90p {display:inline-block; width:90% !important; vertical-align:middle;}
.w95p {display:inline-block; width:95% !important; vertical-align:middle;}
.w100p {display:inline-block; width:100% !important; vertical-align:middle;}
.w5 {display:inline-block; width:5px !important; vertical-align:middle;}
.w100 {display:inline-block; width:100px !important; vertical-align:middle;}
.w200 {display:inline-block; width:200px !important; vertical-align:middle;}

/* color */
.colorRed {color:#ff0000 !important;}
.colorBlue {color:#3e2dda !important;}

/*text_align*/
.alL { text-align:left !important;}
.alC { text-align:center !important;}
.alR { text-align:right !important;}
.alJ {text-align:justify !important;}

/* vertical-align */
.vaT {vertical-align:top !important;}
.vaM {vertical-align:middle !important;}
.vaB {vertical-align:bottom !important;}
.vapx {vertical-align:-1px !important;}

/* float */
.flL { float:left}
.flR { float:right !important}
.c_b { clear:both}

/* text */
.bold { font-weight:bold; color:#333;}
.underline{ text-decoration:underline !important}

/* background */
.bg_none{background:none !important;}


/*! float 적용 요소 감싸는 클래스 - clearfix */
.cf:before,
.cf:after {content: " "; display: table; }
.cf:after {clear: both; }
.clearfix {*zoom: 1; }

/*! 공통 클래스 스타일 */

/*! 이미지 대체 기법 */
.ir {overflow: hidden; text-indent: -9999em; }

/*! 스크린리더/브라우저에서 모두 감추기 */
.hidden {display: none !important; visibility: hidden; }

/*! 스크린리더에서는 읽기 가능 */
.acc_hidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;visibility:hidden; font-size:0;  }

/*! 스크린리더에서는 읽기 가능 + 포커스 적용 */
.acc_hidden.focusable:active,
.acc_hidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/*! 화면에서는 안 보이지만, 레이아웃 공간 적용 */
.invisible {visibility: hidden; }

/* 말줄임 */
.over_text {text-overflow:ellipsis; white-space:nowrap; word-wrap:normal; overflow:hidden;}

@charset "utf-8";
/* layout */
#wrapper{position:relative;width:100%;min-width:1200px;}

#header{position:relative;width:100%;min-width:1200px;height:70px;/*border-bottom:2px solid #bdc0c3;*/background:#ffffff;box-shadow:0 2px 4px rgba(189, 192, 195, 0.8);z-index:10;}
#header.is_active:after{position:absolute;display:block;content:'';left:0;top:72px;width:100%;height:70px;background:#5a6884;z-index:2;}
#header:before{position:absolute;display:block;content:'';left:0;top:25px;width:100%;height:1px;background:#e6eaee;}
#header .header_body{width:1200px;margin:0 auto;}
.header_top{width:100%;height:26px;text-align:right;font-size:0;line-height:0;}
.header_top a, .header_top .user_name{display:inline-block;font-size:12px;line-height:25px;color:666666;font-weight:300;}
.header_top > a:hover{position:relative;color:#4572ea;}
.header_top > a:hover:after{position:absolute;display:block;content:'';left:0;bottom:0;width:100%;height:1px;background:#4572ea;}
.header_top > a + .user_name, .header_top .user_name + a, .header_top > a + a{margin-left:21px;}
.header_top .sel_lang{position:relative;display:inline-block;margin-left:21px;}
.header_top .sel_lang a{color:#999999;}
.header_top .sel_lang a.is_active, .header_top .sel_lang a:hover{color:#4572ea;}
.header_top .sel_lang a + a{position:relative;margin-left:22px;}
.header_top .sel_lang a + a:before{position:absolute;display:block;content:'';left:-11px;top:50%;width:1px;height:10px;background:#b0b0b0;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.header_top .sel_lang .lang_bar{position:absolute;display:block;width:25px;bottom:0;height:1px;background:#4572ea;-ms-transition:1s;-webkit-transition:1s;transition:1s;}
.header_top .sel_lang a + a + .lang_bar{left:0;}
.header_top .sel_lang a + a:hover + .lang_bar{left:45px;}

.gnb_wrap{position:relative;width:100%;height:44px;}
.gnb_wrap:after{display:block;content:'';clear:both;}
.gnb_wrap .top_logo{float:left;margin-top:13px;}
#gnb{position:relative;float:right;margin-right:39px;}
#gnb .gnb_bar{position:absolute;bottom:-2px;height:2px;background:#000000;-ms-transition:1s;-webkit-transition:1s;transition:1s;}
#gnb > ul:after{display:block;content:'';clear:both;}
#gnb > ul > li{position:relative;float:left;}
#gnb > ul > li + li{margin-left:70px;}
#gnb > ul > li > a{display:inline-block;height:44px;font-size:16px;line-height:44px;color:#666666;white-space:nowrap;vertical-align:middle;}
#gnb > ul > li > a.gnb_home{width:23px;background:url(../images/ico_gnb_home.png) center center no-repeat;}
#gnb > ul > li > a:hover{font-weight:700;color:#191919;}
#gnb > ul > li.is_active > a, #gnb > ul > li.is_hover > a{font-weight:700;color:#191919;}
#gnb > ul > li > a.gnb_home:hover{background:url(../images/ico_gnb_home_on.png) center center no-repeat;}
#gnb > ul > li.is_active > a.gnb_home{background:url(../images/ico_gnb_home_on.png) center center no-repeat;}
#gnb > ul > li > ul{display:none;position:absolute;left:0;top:44px;z-index:5;white-space:nowrap;}
#gnb > ul > li > ul.is_active{display:block;}
#gnb > ul > li > ul li{display:inline-block;}
#gnb > ul > li > ul li + li{margin-left:60px;}
#gnb > ul > li > ul li a{display:block;color:#ffffff;padding-top:25px;font-size:16px;font-weight:100;}
#gnb > ul > li > ul li a:hover{position:relative;font-weight:700;}
#gnb > ul > li > ul li a:hover:before{position:absolute;display:block;content:'';left:0;bottom:-1px;width:100%;height:1px;background:#ffffff;}

.btn_all_menu{position:absolute;right:0;top:13px;height:21px;width:21px;background:url(../images/btn_all_menu.png) center center no-repeat;}
.all_menu_wrap{display:none;position:absolute;left:0;top:72px;width:100%;min-width:1200px;border-bottom:1px solid #c6c9cc;background:#ffffff;z-index:15;box-shadow:0 2px 4px rgba(189, 192, 195, 0.8);}
.price_check_wrap .check_area dt{}.all_menu_wrap.is_active{display:block;}
.all_menu_wrap .all_menu_view{position:relative;width:1200px;margin:0 auto;padding-bottom:55px;text-align:right;}
.all_menu_wrap .all_menu_view .all_menu_list{position:relative;display:inline-block;text-align:left;}
.all_menu_wrap .all_menu_view .all_menu_list:before{position:absolute;display:block;content:'';left:0;top:90px;width:100%;height:1px;background:#e6eaee;}
.all_menu_wrap .all_menu_view .all_menu_list > li{float:left;width:280px;margin-top:45px;}
.all_menu_wrap .all_menu_view .all_menu_list > li:last-child{width:auto;}
.all_menu_wrap .all_menu_view .all_menu_list > li > a{position:relative;display:inline-block;padding-right:15px;margin-bottom:21px;font-size:16px;color:#666666;font-weight:700;}
.all_menu_wrap .all_menu_view .all_menu_list > li > a:after{position:absolute;display:block;content:'';right:0px;top:9px;width:6px;height:6px;border-top:2px solid #666666;border-right:2px solid #666666;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
.all_menu_wrap .all_menu_view .all_menu_list > li > ul{padding-top:15px;}
.all_menu_wrap .all_menu_view .all_menu_list > li > ul > li + li{margin-top:25px;}
.all_menu_wrap .all_menu_view .all_menu_list > li > ul > li > a{position:relative;font-size:16px;color:#191919;}
.all_menu_wrap .all_menu_view .all_menu_list > li > ul > li > a:hover{color:#1e90ff;}
.all_menu_wrap .all_menu_view .all_menu_list > li > ul > li > a:hover:before{position:absolute;display:block;content:'';left:0;bottom:-1px;width:100%;height:1px;background:#1e90ff;}
.all_menu_wrap .all_menu_view .all_menu_list > li > ul > li > ul{margin-top:10px;}
.all_menu_wrap .all_menu_view .all_menu_list > li > ul > li > ul > li + li{margin-top:5px;}
.all_menu_wrap .all_menu_view .all_menu_list > li > ul > li > ul > li a{position:relative;display:inline-block;padding-left:10px;font-size:16px;color:#191919;}
.all_menu_wrap .all_menu_view .all_menu_list > li > ul > li > ul > li a:before{position:absolute;display:block;content:'';left:0;top:50%;width:4px;height:1px;background:#191919;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.all_menu_wrap .all_menu_view .btn_close_all_menu{position:absolute;right:0;bottom:30px;width:21px;height:21px;background:url(../images/btn_close.png) center center no-repeat;}
.all_menu_wrap .all_menu_view .btn_close_all_menu:hover{background:url(../images/btn_close_hover.png) center center no-repeat;}

#container{position:relative;width:100%;min-width:1200px;z-index:5;}
#container .main_visual_wrap{width:100%;min-width:1200px;height:687px;border-bottom:1px solid #d6d3e0;background:#e6eaee}
#container .main_visual_wrap .main_visual{position:relative;width:1200px;height:686px;margin:0 auto;background:url(../images/pic_main_visual.png) right 0 top 99px no-repeat;}
#container .main_visual_wrap .main_visual .main_visual_txt1{margin-top:113px;}
#container .main_visual_wrap .main_visual .main_visual_txt2{margin-top:35px;font-size:14px;line-height:22px;font-weight:200;color:#555555;}
#container .main_visual_wrap .main_visual .main_visual_txt3{margin-top:150px;font-size:26px;line-height:48px;font-weight:700;color:#555555;}
#container .main_visual_wrap .main_visual .main_visual_txt4{margin-top:25px;font-size:16px;line-height:26px;font-weight:200;color:#555555;}

#container .main_direct_wrap{width:100%;min-width:1200px;background:#ffffff}
#container .main_direct_wrap .main_direct{position:relative;width:1200px;height:1326px;padding-top:160px;margin:0 auto;}
#container .main_direct_wrap .main_direct:after{display:block;content:'';clear:both;}
.main_direct .main_direct_body{width:585px;}
.main_direct .direct_cont_left{float:left;}
.main_direct .direct_cont_right{float:right;}
.main_direct .main_direct_body .h2_tit_main{position:relative;height:193px;padding-top:10px;font-size:45px;color:#191919;font-weight:200;}
.main_direct .main_direct_body .h2_tit_main:before{position:absolute;display:block;content:'';left:0;top:0;width:20px;height:6px;background:#0d224b;}
.main_direct .main_direct_body .h2_tit_main .h2_tit_main_sub{margin-top:40px;font-size:16px;color:#555555;}
.main_direct .main_direct_body .direct_set_wrap{width:585px;}
.main_direct .main_direct_body .direct_set_wrap:after{display:block;content:'';clear:both;}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set{float:left;width:289px;height:410px;background:#f5f6f9;}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set + .btn_direct_set{margin-left:7px;}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set i{display:block;width:100%;height:288px;-ms-transform:scale(.92);-webkit-transform:scale(.92);transform:scale(.92);-ms-transition:.35s ease-in-out;-webkit-transition:.35s ease-in-out;transition:.35s ease-in-out;}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set i.ico_direct1{background:url(../images/pic_direct1.png) center center no-repeat;}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set i.ico_direct2{background:url(../images/pic_direct2.png) center center no-repeat;}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set i.ico_direct3{background:url(../images/pic_direct3.png) center center no-repeat;}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set i.ico_direct4{background:url(../images/pic_direct4.png) center center no-repeat;}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set:hover i{-ms-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set .txt_wrap{display:block;height:122px;text-align:center;background:#5a6884;}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set .txt_wrap .tit{display:block;padding-top:32px;font-size:24px;color:#ffffff;font-weight:500;}
.main_direct .main_direct_body .direct_set_wrap .btn_direct_set .txt_wrap .txt{display:block;margin-top:8px;font-size:14px;color:#c0ccd9;font-weight:200;}
.main_direct .btn_direct_inquire{position:absolute;left:50%;top:922px;width:253px;height:253px;border-radius:50%;background:#f5f6f9;-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.main_direct .btn_direct_inquire i{display:block;width:253px;height:253px;background:url(../images/pic_direct_inquire.png) center center no-repeat;-ms-transform:scale(.92);-webkit-transform:scale(.92);transform:scale(.92);-ms-transition:.35s ease-in-out;-webkit-transition:.35s ease-in-out;transition:.35s ease-in-out;}
.main_direct .btn_direct_inquire:hover i{-ms-transform:scale(1);-webkit-transform:scale(1);transform:scale(1);}
.main_direct .btn_direct_inquire .txt{position:absolute;bottom:45px;left:50%;font-size:24px;color:#5a6884;font-weight:700;-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);}

#footer{width:100%;min-width:1200px;border-top:1px solid #e6eaee;background:#f8f9fc}
#footer .footer_body{position:relative;width:1200px;padding-bottom:65px;margin:0 auto;}
#footer .footer_body .footer_top{padding-top:105px;}
#footer .footer_body .footer_top .footer_info_wrap{padding-left:65px;}
#footer .footer_body .footer_top .footer_info_wrap .footer_info{position:relative;display:inline-block;padding-left:50px;font-size:16px;color:#555555;font-weight:200;}
#footer .footer_body .footer_top .footer_info_wrap .footer_info.ico_fax{margin-left:130px;}
#footer .footer_body .footer_top .footer_info_wrap .footer_info.ico_email{margin-left:100px;}
#footer .footer_body .footer_top .footer_info_wrap .footer_info:before{position:absolute;display:block;content:'';top:50%;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
#footer .footer_body .footer_top .footer_info_wrap .footer_info.ico_phone:before{left:10px;width:23px;height:31px;background:url(../images/ico_footer_phone.png) center center no-repeat;}
#footer .footer_body .footer_top .footer_info_wrap .footer_info.ico_fax:before{left:2px;width:29px;height:30px;background:url(../images/ico_footer_fax.png) center center no-repeat;}
#footer .footer_body .footer_top .footer_info_wrap .footer_info.ico_email:before{left:0;width:33px;height:24px;background:url(../images/ico_footer_email.png) center center no-repeat;}
.family_site_wrap{position:absolute;right:84px;top:105px;z-index:10;}
.family_site_wrap .btn_family_site{position:relative;display:block;width:183px;padding:0 20px 0 11px;border:1px solid #e6e9f0;text-align:left;font-size:16px;line-height:36px;color:#555555;font-weight:200;background:#e6e9f0;}
.family_site_wrap.is_active .btn_family_site{border-color:#1e90ff;}
.family_site_wrap .btn_family_site:after{position:absolute;display:block;content:'';right:11px;top:16px;width:0;height:0;border-top:7px solid #68696b;border-left:4px solid transparent;border-right:4px solid transparent;}
.family_site_wrap.is_active .btn_family_site:after{border-top:0px;border-bottom:7px solid #68696b;}
.family_site_wrap .list_family_site{display:none;position:absolute;left:0;top:38px;width:100%;}
.family_site_wrap.is_active .list_family_site{display:block;}
.family_site_wrap .list_family_site ul{max-height:200px;}
.family_site_wrap .list_family_site ul li{}
.family_site_wrap .list_family_site ul li a{display:block;padding-left:11px;text-align:left;font-size:16px;line-height:38px;color:#555555;font-weight:200;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background:#e6e9f0;}
.family_site_wrap .list_family_site ul li a:hover{color:#ffffff;background:#1e90ff;}

.footer_mid{padding-left:65px;margin-top:85px;}
.footer_mid .company_name{display:inline-block;font-size:38px;color:#555555;font-weight:100;vertical-align:middle;}
.footer_mid .company_info_wrap{position:relative;display:inline-block;margin-left:75px;vertical-align:middle;}
.footer_mid .company_info_wrap:before{position:absolute;display:block;content:'';left:-38px;top:50%;width:2px;height:33px;background:#56565c;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.footer_mid .company_info_wrap .company_info{display:block;font-size:16px;color:#555555;line-height:22px;}

.footer_copy_wrap{width:100%;min-width:1200px;text-align:center;height:81px;background:#eff0f5;}
.footer_copy_wrap .footer_logo{display:inline-block;padding-top:30px;}
.footer_copy_wrap .footer_logo img{vertical-align:middle;}
.footer_copy_wrap .footer_logo .copyright{margin-left:30px;font-size:12px;color:#555555;vertical-align:middle;}

.skip_top{display:none;position:fixed;right:50px;bottom:50px;z-index:15;}
.skip_top a{display:block;width:48px;height:48px;background:url(../images/btn_go_top.png) #e6e9f0 center center no-repeat;}
.skip_top a:hover{background-color:#bbc8d9;}

/* sub */
.cont_head{width:100%;min-width:1200px;}
.cont_head .head_body{position:relative;width:1200px;margin:0 auto;}
.cont_head .head_body .page_location{position:absolute;left:20px;top:18px;}
.cont_head .head_body .page_location .unit{font-size:12px;font-weight:200;color:#999999;}
.cont_head .head_body .page_location .unit:last-child{font-weight:700;color:#333333;}
.cont_head .head_body .page_location .unit + .unit{position:relative;margin-left:25px;}
.cont_head .head_body .page_location .unit + .unit:before{position:absolute;display:block;content:'〉';left:-18px;top:50%;font-weight:200;color:#999999;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.cont_head .head_body .h1_tit{padding:88px 0 25px 0;text-align:center;font-size:60px;color:#333333;font-weight:500;}
.cont_head .sub_menu_wrap{width:100%;min-width:1200px;border-top:1px solid #d1d1d1;border-bottom:1px solid #eeeeee;text-align:center;background:#fdfdfd;}
.cont_head .sub_menu_wrap ul{display:inline-block;}
.cont_head .sub_menu_wrap ul li{display:inline-block;width:295px;text-align:center;}
.cont_head .sub_menu_wrap ul li a{font-size:24px;font-weight:700;line-height:65px;color:#999999;}
.cont_head .sub_menu_wrap ul li.is_active a{color:#4572ea;}
.cont_body{width:100%;min-width:1200px;}


/* 문의하기 */
.email_wrap{display:inline-block;font-size:0;vertical-align:middle;}
.email_wrap input[type=text]{width:180px;}
.email_wrap span{display:inline-block;width:24px;text-align:center;font-size:16px;vertical-align:middle;}
.email_wrap select{margin-left:5px;width:120px;}
.phone_wrap{display:inline-block;font-size:0;vertical-align:middle;}
.phone_wrap select{width:62px;}
.phone_wrap span{display:inline-block;width:17px;text-align:center;font-size:16px;vertical-align:middle;}
.phone_wrap input[type=text], .phone_wrap input[type=number]{width:80px;}
.phone_wrap .btn{margin-left:5px;}
.addFile_wrap{display:inline-block;font-size:0;vertical-align:middle;}
.addFile_wrap input[type=text]{width:200px;}
.addFile_wrap label{display:inline-block;width:120px;margin-left:5px;border:1px solid #dddddd;text-align:center;color:#666666;font-size:14px;line-height:36px;background:#eeeeee;vertical-align:middle;}
input[type="text"] + .btn{margin-left:5px;}
input[type="text"].insert_num{width:257px;}
.time_limit{display:inline-block;margin-left:5px;font-size:16px;font-weight:200;color:#191919;vertical-align:middle;}

/* 회원가입 */
.cont_head.joinus{background:#5298df;}
.cont_head.joinus .head_body .h1_tit{color:#ffffff;}
.cont_head.joinus + .cont_body{width:100%;min-width:1200px;background:#f7f8f8;}
.cont_head.joinus + .cont_body .con_section .section_body{width:1200px;margin:0 auto;}
.join_step_wrap{display:flex;flex-wrap:wrap;justify-content:space-between;align-items:center;padding-top:140px;}
.join_step_wrap .step_box{position:relative;width:378px;height:268px;margin-bottom:34px;border-radius:35px 35px 0 35px;background:#ffffff;box-shadow:2px 2px 0 rgba(20,20,20,0.3);}
.join_step_wrap .step_box.step_tit{height:188px;border-radius:35px 35px 35px 35px;text-align:center;font-size:30px;font-weight:700;line-height:188px;color:#ffffff;background:#83dee7;box-shadow:inset 0 3px 0 rgba(89,184,193,0.79);box-shadow:2px 2px 0 rgba(98,192,201,1);}
.join_step_wrap .step_box.step_tit:before{position:absolute;display:block;content:'';left:50%;top:80%;width:270px;height:20px;border-radius:50%;background:transparent;box-shadow:0 30px 30px rgba(131,222,231, 1);-ms-transform:translateX(-50%);-webkit-transform:translateX(-50%);transform:translateX(-50%);}
.join_step_wrap .step_box .step_num{position:absolute;right:50px;top:25px;font-family:'DIN1451EF-MittelAlt';font-size:52.5px;}
.join_step_wrap .step_box.step1 .step_num{color:#83dee7;}
.join_step_wrap .step_box.step2 .step_num{color:#5abaf6;}
.join_step_wrap .step_box.step3 .step_num{color:#5abaf6;}
.join_step_wrap .step_box.step4 .step_num{color:#8e97e7;}
.join_step_wrap .step_box.step5 .step_num{color:#8e97e7;}
.join_step_wrap .step_box .tit{position:absolute;left:50px;top:40px;font-size:30px;color:#191919;font-weight:200;}
.join_step_wrap .step_box .tit:after{position:absolute;display:block;content:'';left:0;top:60px;width:20px;height:4px;background:#191919;}
.join_step_wrap .step_box .txt{position:absolute;left:50px;bottom:50px;font-size:16px;color:#555555;font-weight:200;line-height:24px;}
.join_notice_wrap{position:relative;padding-bottom:60px;margin-top:40px;}
.join_notice_wrap .h2_notice{font-size:16px;color:#333333;font-weight:300;}
.join_notice_wrap .join_notice_list{margin-top:5px;}
.join_notice_wrap .join_notice_list li{font-size:16px;color:#333333;font-weight:100;}
.join_notice_wrap .btn{position:absolute;right:0;bottom:60px;}
.cont_head.joinus2{background:#5298df;}
.cont_head.joinus2 .head_body .h1_tit{color:#ffffff;}
.cont_head.joinus2 + .cont_body{width:100%;min-width:1200px;}
.cont_head.joinus2 + .cont_body .con_section .section_body{width:1200px;margin:0 auto;}

/* 가격문의 */
.con_section.inquiry{width:100%;min-width:1200px;border-top:1px solid #d1d1d1;}
.con_section.inquiry .section_body{width:1200px;margin:0 auto;}
.price_notice{margin-top:30px;font-size:22px;color:#191919;font-weight:300;}
.price_check_wrap{position:relative;margin-top:35px;}
.price_check_wrap .check_area{position:absolute;left:0;top:0;width:265px;min-height:100%;background:#f3f4f7;}
.price_check_wrap .check_area dt{padding:27px 0 27px 40px;border-bottom:2px solid #ffffff;}
.price_check_wrap .check_area dd{padding:27px 0 27px 40px;}
.price_check_wrap .check_area dd ul{}
.price_check_wrap .check_area dd ul li + li{margin-top:17px;}
.price_check_wrap .price_cont{padding-left:275px;}
.price_check_wrap .price_cont .pic_sample_area{position:relative;width:925px;height:521px;border:1px solid #000000;background:url(../images/bg_price_imgbox.png) center center no-repeat;}
.price_check_wrap .price_cont .pic_sample_area:after{position:absolute;display:block;content:'';left:0;top:0;width:923px;height:468px;background:url(../images/pic_price_cover.png) center center no-repeat;}
.price_check_wrap .price_cont .check_info_area{padding:0 20px 20px 20px;margin-top:10px;border:1px solid #f3f4f7;background:#f3f4f7;}
.price_check_wrap .price_cont .check_info_area dl{}
.price_check_wrap .price_cont .check_info_area dl dt{border-bottom:1px solid #dddddd;font-size:16px;color:#191919;line-height:48px;}
.price_check_wrap .price_cont .check_info_area dl dd{padding-top:15px;font-size:16px;color:#191919;font-weight:200;line-height:26px;}
.price_check_wrap .price_cont .inquiry_area{padding:0 20px 20px 20px;margin-top:10px;border:1px solid #dddddd;background:#ffffff;}
.price_check_wrap .price_cont .inquiry_area dl{}
.price_check_wrap .price_cont .inquiry_area dl dt{border-bottom:1px solid #dddddd;font-size:16px;color:#191919;line-height:48px;}
.price_check_wrap .price_cont .inquiry_area dl dd{padding-top:15px;}
.price_check_wrap .price_cont .inquiry_area dl dd textarea{border:0;padding:0;min-height:50px;}

/* login */
.layout_login {width: 100%;
    border-color: #395aa1;
    border-radius: 4px;
    font-size: 18px;
    line-height: 48px;
    color: #fefefe;
    margin-top:  50px;
    background: #395aa1;}
#wrapper.login{position:relative;display:table;height:100%;padding:50px 0;}
 .login_wrap{display:table-cell;vertical-align:middle;}
.login_wrap .login_body{width:380px;height:450px;margin:100px auto;}
 .login_logo{margin-bottom:40px;text-align:center;}
.login_form input[type='text']{width:100%;height:48px;padding-left:0;border:0;border-bottom:2px solid rgba(255,255,255,0.4);color:#ffffff;font-size:19px;font-weight:700;background:transparent;}
.login_form input[type='text'], .login_form input[type='password']{width:100%;height:48px;padding-left:0;border:0;border-bottom:2px solid rgba(255,255,255,0.4);color:#ffffff;font-size:19px;font-weight:700;background:transparent;}
.login_form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */color:#ffffff;}
.login_form input::-moz-placeholder { /* Firefox 19+ */ color: #ffffff;}
.login_form input:-ms-input-placeholder { /* IE 10+ */ color: #ffffff;}
.login_form input:-moz-placeholder { /* Firefox 18- */ color: #ffffff;}
.login_check{margin-top:10px;}
.login_check:after{display:block;content:'';clear:both;}

.login_btn .btn{width:100%;}
.login_btn .btn span{width:100%;border-color:#395aa1;border-radius:4px;font-size:18px;line-height:48px;color:#fefefe;background:#395aa1;}
.etc_link{margin-top:10px;}
.etc_link:after{display:block;content:'';clear:both;}
.etc_link a{font-size:16px;color:#ffffff;}
.forget_comment{margin:20px 0 80px 0;font-size:18px;line-height:24px;color:#181856;}
/* #wrapper.login .login_footer{position:absolute;width:380px;bottom:90px;left:50%;margin-left:-190px;}
#wrapper.login .login_footer .login_footer_info:after{display:block;content:'';clear:both;}
#wrapper.login .login_footer .link_list{float:left;}
#wrapper.login .login_footer .link_list:after{display:block;content:'';clear:both;}
#wrapper.login .login_footer .link_list li{float:left;}
#wrapper.login .login_footer .link_list li + li{margin-left:15px;}
#wrapper.login .login_footer .link_list li a{font-size:13px;color:#ffffff;font-weight:700;}
#wrapper.login .login_footer .lang_list{float:right;}
#wrapper.login .login_footer .lang_list:after{display:block;content:'';clear:both;}
#wrapper.login .login_footer .lang_list li{float:left;}
#wrapper.login .login_footer .lang_list li + li{position:relative;margin-left:10px;}
#wrapper.login .login_footer .lang_list li + li:before{position:absolute;display:block;content:'';left:-5px;top:50%;width:1px;height:9px;background:#ffffff;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
#wrapper.login .login_footer .lang_list li a{font-size:13px;color:#ffffff;font-weight:200;}
#wrapper.login .login_footer .lang_list li.is_active a{position:relative;font-weight:700;}
#wrapper.login .login_footer .lang_list li.is_active a:before{position:absolute;display:block;content:'';left:0;bottom:0;width:100%;height:1px;background:#ffffff;}
#wrapper.login .login_footer .copy{display:block;width:380px;margin-top:15px;text-align:center;font-size:12px;color:#ffffff;font-weight:200;}
#wrapper.login .login_footer .copy img{margin-right:10px;} */

 .login_footer{position:absolute;width:380px;bottom:90px;left:50%;margin-left:-190px;}
 .login_footer .login_footer_info:after{display:block;content:'';clear:both;}
 .login_footer .link_list{float:left;}
 .login_footer .link_list:after{display:block;content:'';clear:both;}
 .login_footer .link_list li{float:left;}
 .login_footer .link_list li + li{margin-left:15px;}
 .login_footer .link_list li a{font-size:13px;color:#ffffff;font-weight:700;}
 .login_footer .lang_list{float:right;}
 .login_footer .lang_list:after{display:block;content:'';clear:both;}
 .login_footer .lang_list li{float:left;}
 .login_footer .lang_list li + li{position:relative;margin-left:10px;}
 .login_footer .lang_list li + li:before{position:absolute;display:block;content:'';left:-5px;top:50%;width:1px;height:9px;background:#ffffff;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
 .login_footer .lang_list li a{font-size:13px;color:#ffffff;font-weight:200;}
 .login_footer .lang_list li.is_active a{position:relative;font-weight:700;}
 .login_footer .lang_list li.is_active a:before{position:absolute;display:block;content:'';left:0;bottom:0;width:100%;height:1px;background:#ffffff;}
 .login_footer .copy{display:block;width:380px;margin-top:15px;text-align:center;font-size:12px;color:#ffffff;font-weight:200;}
 .login_footer .copy img{margin-right:10px;}


/* 약관동의 */
#wrapper.agree{position:relative;display:table;height:100%;padding:50px 0;}
#wrapper.agree .agree_wrap{display:table-cell;vertical-align:middle;}
#wrapper.agree .agree_wrap .agree_body{width:520px;height:670px;margin:100px auto;}
#wrapper.agree .agree_logo{margin-bottom:40px;text-align:center;}
#wrapper.agree .agree_form{padding:50px 69px 38px 69px;margin-top:35px;border:1px solid #e5e5e5;border-radius:4px;}
#wrapper.agree .agree_form .h2_agree{font-size:22px;line-height:36px;color:#191919;}
#wrapper.agree .agree_check_wrap{margin-top:50px;}
#wrapper.agree .agree_check_wrap .agree_all{padding-bottom:20px;border-bottom:1px solid #e5e5e5;}
#wrapper.agree .agree_check_wrap .agree_all p{padding-left:28px;margin-top:5px;}
#wrapper.agree .agree_check_wrap .agree_list{padding:50px 0;}
#wrapper.agree .agree_check_wrap .agree_list .checkbox_set3:after{position:absolute;display:block;content:'';right:0;top:50%;width:10px;height:18px;background:url(../images/ico_agree_arrow.png) center center no-repeat;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
#wrapper.agree .agree_check_wrap .agree_list .checkbox_set3 + .checkbox_set3{margin-top:20px;}
#wrapper.agree .agree_btn .btn{width:100%;}
#wrapper.agree .agree_btn .btn span{width:100%;border:2px solid #011745;border-radius:4px;font-size:18px;line-height:46px;color:#fefefe;background:#1e408a;}
#wrapper.agree .agree_btn .btn:disabled span, #wrapper.agree .agree_btn .btn.is_disabled span{border:2px solid #e5e5e5;color:#666666;background:#e5e5e5;}
#wrapper.agree .agree_footer{position:absolute;width:380px;bottom:90px;left:50%;margin-left:-190px;}
#wrapper.agree .agree_footer .agree_footer_info:after{display:block;content:'';clear:both;}
#wrapper.agree .agree_footer .link_list{float:left;}
#wrapper.agree .agree_footer .link_list:after{display:block;content:'';clear:both;}
#wrapper.agree .agree_footer .link_list li{float:left;}
#wrapper.agree .agree_footer .link_list li + li{margin-left:15px;}
#wrapper.agree .agree_footer .link_list li a{font-size:13px;color:#666666;font-weight:700;}
#wrapper.agree .agree_footer .link_list li.is_active a{color:#000000;}
#wrapper.agree .agree_footer .lang_list{float:right;}
#wrapper.agree .agree_footer .lang_list:after{display:block;content:'';clear:both;}
#wrapper.agree .agree_footer .lang_list li{float:left;}
#wrapper.agree .agree_footer .lang_list li + li{position:relative;margin-left:10px;}
#wrapper.agree .agree_footer .lang_list li + li:before{position:absolute;display:block;content:'';left:-5px;top:50%;width:1px;height:9px;background:#ffffff;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
#wrapper.agree .agree_footer .lang_list li a{font-size:13px;color:#666666;font-weight:200;}
#wrapper.agree .agree_footer .lang_list li.is_active a{position:relative;font-weight:700;color:#000000;}
#wrapper.agree .agree_footer .lang_list li.is_active a:before{position:absolute;display:block;content:'';left:0;bottom:0;width:100%;height:1px;background:#666666;}
#wrapper.agree .agree_footer .copy{display:block;width:380px;margin-top:15px;text-align:center;font-size:12px;color:#666666;font-weight:200;}
#wrapper.agree .agree_footer .copy img{margin-right:10px;}

/* table */
.tbl_col_list thead tr th{padding:16px 0 15px 0;border-top:1px solid #000000;border-bottom:1px solid #dddddd;text-align:center;font-size:18px;color:#191919;}
.tbl_col_list tbody tr td{padding:16px 0 15px 0;border-bottom:1px solid #dddddd;text-align:center;font-size:16px;color:#191919;font-weight:200;}
.tbl_col_list tbody tr td a:hover{text-decoration:underline;}

.tbl_row_view tbody tr td{position:relative;padding:16px 0 15px 0;border-bottom:1px solid #dddddd;font-size:18px;color:#191919;font-weight:200;text-align:left;}
.tbl_row_view tbody tr td.view_cont{font-size:16px;}
.tbl_row_view tbody tr.add_file th{border-bottom:1px solid #dddddd;text-align:center;font-size:16px;color:#666666;background:#f3f4f7;}
.tbl_row_view tbody tr.add_file td{padding-left:20px;border-left:1px solid #dddddd;}
.notice_info{position:absolute;right:0;top:50%;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.notice_info .tit{display:inline-block;font-size:14px;color:#191919;font-weight:500;}
.notice_info .txt{display:inline-block;font-size:14px;color:#191919;font-weight:200;}
.notice_info .txt + .tit{position:relative;margin-left:29px;} 
.notice_info .txt + .tit:before{position:absolute;display:block;content:'';left:-15px;top:50%;width:1px;height:11px;background:#191919;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.add_file_set{position:relative;display:inline-block;padding-left:25px;}
.add_file_set:before{position:absolute;display:block;content:'';left:0;top:50%;width:16px;height:16px;background:url(../images/ico_down.png) center center no-repeat;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
.add_file_set .add_file_info{font-size:16px;color:#666666;font-weight:200;}
.add_file_set .btn_down{margin-left:12px;}
.add_file_set .btn_down span{border-color:#dddddd;color:#666666;font-size:14px;background:#eeeeee;}

.tbl_top_comment{padding:30px 0 10px 0;text-align:right;font-size:16px;color:#999999;font-weight:200;}
.tbl_form{border-left:1px solid #dddddd;border-top:1px solid #dddddd;}
.tbl_form tbody{}
.tbl_form tbody tr th{padding-left:85px;border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;font-size:16px;font-weight:500;color:#666666;vertical-align:middle;background:#f3f4f7;}
.tbl_form tbody tr td{padding:10px;border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;}
.tbl_form tbody tr td .notice{margin-left:10px;font-size:16px;color:#999999;font-weight:200;line-height: 38px;}
.tbl_form tbody tr td span.notice{display:inline-block;vertical-align:middle;}
.tbl_form tbody tr td p.notice{display:block;}
.is_required{position:relative;}
.is_required:before{position:absolute;display:block;content:'*';left:-10px;color:#e01848;vertical-align:sub;}


.paging {text-align: center; margin:20px 0 130px 0; position: relative;}
.paging > a {display: inline-block; border: 1px solid #ddd; width: 32px; height: 32px; line-height: 30px; text-align: center; vertical-align: middle; margin: 0 1px;}
.paging > a.on,
.paging > a:focus,
.paging > a:hover {background-color: #555555; color: #fff; border: 1px solid #555;}
/* .paging > a.on span,
.paging > a:focus span,
.paging > a:hover span {border-bottom: 1px solid #fff;} */
.paging > a.page_first {background-color: #fff; background-image: url(../images/ico_board.png); background-repeat: no-repeat; background-position: 8px 10px; color: #555;}
.paging > a.page_prev {background-color: #fff; background-image: url(../images/ico_board.png); background-repeat: no-repeat; background-position: -22px 10px; color: #555;}
.paging > a.page_next {background-color: #fff; background-image: url(../images/ico_board.png); background-repeat: no-repeat; background-position: -48px 10px; color: #555;}
.paging > a.page_last {background-color: #fff; background-image: url(../images/ico_board.png); background-repeat: no-repeat; background-position: -77px 10px; color: #555;}
.paging > a.page_first,
.paging > a.page_prev,
.paging > a.page_next,
.paging > a.page_last {border: 1px solid #ddd;}
.paging > a.page_first:focus,
.paging > a.page_first:hover {background: #555 url(../images/ico_board.png) no-repeat 8px -18px; color: #fff;}
.paging > a.page_prev:focus,
.paging > a.page_prev:hover {background: #555 url(../images/ico_board.png) no-repeat -22px -18px; color: #fff;}
.paging > a.page_next:focus,
.paging > a.page_next:hover {background: #555 url(../images/ico_board.png) no-repeat -48px -18px; color: #fff;}
.paging > a.page_last:focus,
.paging > a.page_last:hover {background: #555 url(../images/ico_board.png) no-repeat -77px -18px; color: #fff;}

.paging .btn {position: absolute; top: 0; right: 0; height:auto;margin: 0;width:100px;border:0;}
.paging .btn:hover{border:0;}

.btn{display:inline-block;}
.btn + .btn{margin-left:10px;}
/* .btn span{display:inline-block;border:1px solid #323a45;text-align:center;color:#191919;font-size:16px;line-height:38px;} */
.btn span:hover{text-decoration:underline;}
.btn.btn_gray span{border-color:#323a45;color:#ffffff;background:#323a45;}
.btn.btn_gray2 span{border-color:#dddddd;color:#666666;background:#eeeeee;}
.btn.btn_gray3 span{border-color:#959597;color:#ffffff;background:#959597;}
.btn.btn_blue span{border-color:#3972d7;color:#ffffff;background:#3972d7;}
.btn.btn_blue2 span{border-color:#5298df;color:#ffffff;background:#5298df;}
.btn.btn_size2 span{min-width:90px;}
.btn.btn_size3 span{min-width:100px;}
.btn.btn_size4 span{min-width:110px;}
.btn.btn_size6 span{min-width:147px;}
.btn.btn_sizeS span{font-size:14px;line-height:36px;}
.btn.btn_wide span{width:100%;}

.btn_wrap{margin:20px 0 130px 0;}
.btn_wrap:after{display:block;content:'';clear:both;}
.btn_wrap .left_cont{float:left;}
.btn_wrap .right_cont{float:right;}

/* 팝업 */
.ofHidden{width:100% !important; height:100% !important; overflow:hidden;}/* 레이어 팝업실행 시 뒷부분 고정 */
.pop_wrap{display:none;position:fixed;left:0;top:0;width:100%;height:100%;z-index:9999;}
.pop_wrap .dim{position:absolute;width:100%;height:100%;background:rgba(0,0,0,0.4);z-index:5;}
.pop_wrap .pop_cont{position:absolute;left:50%;top:50%;padding:39px;border:1px solid #e5e5e5;border-radius:3px;overflow:hidden;background:#ffffff;z-index:10;-ms-transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
#alertPop.pop_wrap .pop_cont{width:420px;}
.pop_wrap .pop_cont .pop_head{border-bottom:1px solid #a6a6a6;}
.pop_wrap .pop_cont .pop_head .h1_pop{font-size:22px;line-height:51px;color:#191919;}
.pop_wrap .pop_cont .pop_head .btn_close{position:absolute;right:39px;top:21px;width:19px;height:19px;background:url(../images/btn_close.png) center center no-repeat;background-size:100% 100%;}
.pop_wrap .pop_cont .pop_head .btn_close:hover{background:url(../images/btn_close_hover.png) center center no-repeat;background-size:100% 100%;}
.pop_wrap .pop_cont .pop_body{padding-top:40px;}
.pop_wrap .pop_cont .pop_body .pop_txt{font-size:18px;color:#666666;line-height:30px;}
.pop_wrap .pop_cont .pop_body .btn_pop_wrap{display:flex;margin-top:40px;}
.pop_wrap .pop_cont .pop_body .btn_pop_wrap .btn{flex:1;}
.pop_wrap .pop_cont .pop_body .btn_pop_wrap .btn span{width:100%;font-size:14px;}

#agreePop.pop_wrap .pop_cont{width:1000px;height:950px;}
#agreePop.pop_wrap .pop_cont .pop_head .btn_close{right:15px;top:15px;}
#agreePop.pop_wrap .pop_cont .pop_head .pop_lang_list{position:absolute;right:40px;top:55px;}
#agreePop.pop_wrap .pop_cont .pop_head .pop_lang_list:after{display:block;content:'';clear:both;}
#agreePop.pop_wrap .pop_cont .pop_head .pop_lang_list li{float:left;}
#agreePop.pop_wrap .pop_cont .pop_head .pop_lang_list li + li{position:relative;margin-left:10px;}
#agreePop.pop_wrap .pop_cont .pop_head .pop_lang_list li + li:before{position:absolute;display:block;content:'';left:-5px;top:50%;width:1px;height:9px;background:#ffffff;-ms-transform:translateY(-50%);-webkit-transform:translateY(-50%);transform:translateY(-50%);}
#agreePop.pop_wrap .pop_cont .pop_head .pop_lang_list li a{font-size:13px;color:#666666;font-weight:200;}
#agreePop.pop_wrap .pop_cont .pop_head .pop_lang_list li.is_active a{position:relative;font-weight:700;}
#agreePop.pop_wrap .pop_cont .pop_head .pop_lang_list li.is_active a:before{position:absolute;display:block;content:'';left:0;bottom:0;width:100%;height:1px;background:#666666;}

#agreePop.pop_wrap .pop_cont .pop_body{padding-top:20px;}
.pop_tab_wrap .tab_head{display:flex;width:100%;margin-bottom:20px;} 
.pop_tab_wrap .tab_head li{flex:1;}
.pop_tab_wrap .tab_head li button{display:block;width:100%;border:1px solid #d8d8d8;text-align:center;font-size:14px;line-height:48px;color:#999999;}
.pop_tab_wrap .tab_head li + li button{border-left:0;}
.pop_tab_wrap .tab_head li.is_active + li button{border-left-width:1px;}
.pop_tab_wrap .tab_head li.is_active button{border-color:#343434;color:#ffffff;background:#343434;}
.pop_tab_wrap .tab_cont{height:730px;padding:0 40px;margin:0 -40px;overflow-y:auto;overflow-x:hidden;}
.pop_tab_wrap .tab_cont .cont_wrap{display:none;}
.pop_tab_wrap .tab_cont .cont_wrap.is_active{display:block;}

.pop_tab_wrap .tab_cont .cont_wrap .h2_pop_agree{padding:15px 0;border-bottom:2px solid #343434;font-size:22px;color:#191919;line-height:36px;}
.pop_tab_wrap .tab_cont .cont_wrap .h3_pop_agree{margin-top:30px;font-size:18px;color:#191919;font-weight:700;}
.pop_tab_wrap .tab_cont .cont_wrap .h4_pop_agree{margin:10px 0 5px 0;font-size:16px;color:#191919;}
.pop_tab_wrap .tab_cont .cont_wrap .desc{margin-bottom:35px;font-size:14px;color:#666666;line-height:30px;}
.pop_tab_wrap .tab_cont .cont_wrap .pop_agree_list{margin-bottom:35px;}
.pop_tab_wrap .tab_cont .cont_wrap .pop_agree_list li{font-size:14px;color:#666666;line-height:30px;}

.h2_pop_board{padding:15px 0;font-size:22px;color:#191919;}
.tbl_pop_list thead th{padding:10px 0;border-top:1px solid #000000;border-bottom:1px solid #dddddd;text-align:center;font-size:18px;line-height:38px;font-weight:700;color:#191919;}
.tbl_pop_list tbody td{padding:10px 0;border-bottom:1px solid #dddddd;text-align:center;font-size:16px;line-height:34px;color:#191919;}

.pop_wrap.alert_pop .pop_cont{width:420px;height:340px;}
.pop_wrap.alert_pop .pop_cont .pop_body{padding-top:0;}
.pop_wrap.alert_pop .pop_cont .pop_body .pop_alert_txt{padding-top:130px;text-align:center;color:#666666;font-size:18px;}
.pop_wrap.alert_pop .pop_cont .pop_body .pop_alert_txt.typ1{background:url(../images/ico_alert_pop1.png) center 25px no-repeat;}
.pop_wrap.alert_pop .pop_cont .pop_body .pop_alert_txt.typ2{background:url(../images/ico_alert_pop2.png) center 25px no-repeat;}
.pop_wrap.alert_pop .pop_cont .pop_body .pop_alert_txt.typ3{background:url(../images/ico_alert_pop3.png) center 25px no-repeat;}
.pop_wrap.alert_pop .pop_cont .pop_body .pop_alert_txt.typ4{background:url(../images/ico_alert_pop4.png) center 25px no-repeat;}
.pop_wrap.alert_pop .pop_cont .pop_body .pop_alert_input{position:absolute;top:207px;left:50%;width:200px;margin-left:-100px;}
.pop_wrap.alert_pop .pop_cont .pop_body .pop_alert_input input{width:100%;}
.pop_wrap.alert_pop .pop_cont .btn_pop_wrap{margin-top:63px;}

/* 로딩 */
#loading {position:fixed; width:100%; height:100%; z-index:99999;}
#loading .loading_body {position:relative; width:100%; height:100%; z-index:1;}
#loading .loading_cont {position:absolute; left:50%; top:50%; width:168px; height:168px; border-radius:50%;margin:-84px 0 0 -84px; background:url(../images/loading-effect.gif) center center no-repeat;z-index:2;}
#loading .loading_bg {position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.3);}



