.regionStatus .dashboard_box{height:100%}
.regionStatus .dashboard_box > .conts{display:block;height:100%}
.regionStatus .dashboard_box .inquiry > .period{margin-left:0}
.regionStatus .dashboard_box .inquiry .selectbox{float:left}
.regionStatus .dashboard_box .graphAreaWrap{padding:1.075rem;height:55.2rem;}
.regionStatus .dashboard_box .graphAreaWrap:after{clear:both;display:block;content:""}
.regionStatus .dashboard_box .graphArea{float:left;width:57rem;padding:1.6875rem}
/* .regionStatus .reaction_wrap,.regionStatus .eventDetail_wrap{float:left;width:50rem;height:50%;padding:0 0 1.875rem 1.875rem} */
.regionStatus .reaction_wrap,.regionStatus .eventDetail_wrap{float:left;height:28rem;width:29rem;padding:0 0 1.375rem 1.375rem}
.regionStatus .eventDetail_wrap{padding-bottom:0}
.regionStatus .reaction_wrap > strong,.regionStatus .eventDetail_wrap > strong{display:block;margin:0 0 0.9375rem;font-weight:bold;font-size:1.375rem;line-height:1.875rem;color:#fff;letter-spacing:-0.0625rem}
/* .regionStatus .reaction,.regionStatus .eventDetail{display:block;height:calc(100% - 2.8125rem);padding:1.5625rem 2.3125rem;border:1px solid #3b3e47;border-radius:0.3125rem;background:#0a1a28} */
/* .regionStatus .reaction,.regionStatus .eventDetail{display:block;height:calc(100% - 2.8125rem);width:33rem;padding:1.0625rem 1.0125rem;border:1px solid #3b3e47;border-radius:0.3125rem;background:#0a1a28;overflow-y:auto;} */
.regionStatus .reaction,.regionStatus .eventDetail{position: relative;padding:1.0625rem 1.0125rem;border:1px solid #3b3e47;border-radius:0.3125rem;background:#0a1a28;height:22rem}
/* .regionStatus .conts .graphArea_wrap  .infoSection{width:35rem;height:52rem;position:relative;float:left;} */
.regionStatus .conts .graphArea_wrap  .infoSection{height:52rem;position:relative;float:left;}

